<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%} {%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    {% block estilos %}{% endblock %}

    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            {% if messages %}
            {% for message in messages %}
            toastr.{{ message.tags }} ('{{ message }}')
            {% endfor %}
            {% endif %}
            {% block librerias %} {% endblock %}
        });
    </script>
    {% load static %}

</head>

<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <!-- {% if messages %}
    {% for message in messages %}
        toastr.{{message.tags}}('{{ message }}')
    {% endfor %}
    {% endif %} -->

    <div class="container mt-5">
        {% block contenido %}{% endblock %}

        <hr>
        <div class="d-flex justify-content-evenly mt-2">
            <a href="/shows/new" class="btn btn-primary">Crear nuevo show</a>
            <a href="/shows" class="btn btn-primary">Shows Registrados</a>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>

    {% block scripts %}{% endblock %}


</body>

</html>