{% extends "base.html" %}
{% block titulo %} Shows {% endblock %}
{% block estilos %} {% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-6">
    <h2>TV Show #{{show.id}}</h2> <br>
    <h2>Título: &nbsp;{{show.title}} </h2>
    <h4>Network: {{show.network}} </h4><br>
    <h5>Fecha estreno: {{show.release_date | date:"d M Y"}}</h5>
    <h5>Fecha actualización: {{show.updated_at | date:"d M Y"}}</h5>
    <h5>Descripcion: {{show.desc}}</h5>
    <a href="/shows/{{show.id}}/edit">Editar</a>
    <a href="/shows/{{show.id}}/delete">Borrar</a>
  </div>
</div>

{% endblock %}