{% extends "base.html" %}

{% block titulo %} Shows {% endblock %}

{% block estilos %}
<style>
  h1 {
    color: blue;
  }
</style>
{% endblock %}

{% block contenido %}


<div class="row">
  <div class="offset-2 col-8">
    <form action="/show_agregar" method="post">
      {% csrf_token %}
      <h1>Añadir nuevo Show</h1>
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" name="title" class="form-control">
      </div>

      <div class="row">
        <div class="col-8">
          <div class="mb-3">
            <label for="network" class="form-label">Network</label>
            <input type="text" name="network" class="form-control">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="release_date" class="form-label">Fecha de extreno</label>
            <input type="date" name="release_date" class="form-control">
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="desc" class="form-label">Descripción</label>
        <input type="textarea" style="height: 100px" name="desc" class="form-control">
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Guardar nuevo show</button>
      </div>
      
    </form>
  </div>
</div>


{% endblock %}